<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="testRmiService" class="com.shyfay.rmi.server.TestRmiServiceImpl"/>
    <bean id="rmiServer" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="service" ref="testRmiService"/>
        <property name="serviceInterface" value="com.shyfay.rmi.server.TestRmiService"/>
        <property name="serviceName" value="testRMI"/>
        <property name="registryPort" value="9000"/>
    </bean>
</beans>